* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(90deg, #6190e8, #a7bfe8);
}

form {
  display: flex;
  height: 40vh;
  width: 40vw;
  background-color: white;
  border-radius: 2rem;
  padding: 1.5rem 3.5rem;
}

.title {
  color: #6391e8;
}

.description {
  padding: 1rem 0rem;
  letter-spacing: .05rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.contact-left, .contact-right {
  flex: 1;
}

.contact-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-container {
  position: relative;
}

.input {
  position: absolute;
  top: 0;
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
}

.placeholder {
  position: relative;
  z-index: 1;
  pointer-events: none;
  opacity: 0.6;
  padding: .4rem 0rem;
  transform-origin: left;
}

.line-svg {
  position: absolute;
  z-index: 1;
  overflow: visible;
}

button {
  background-color: #4984f1;
  color: white;
  font-size: .7rem;
  border-radius: .2rem;
  /* height: 4vh; */
  cursor: pointer;
  padding: 0.5rem 2.5rem;
  /* width: 5vw; */
  border: none;
  align-self: flex-start;
}