@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.handbag-body{
    overflow: hidden;
}
.boot-body{
    overflow: hidden;
}
.hat-body{
    overflow: hidden;
}

nav {
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav img{
    cursor: pointer;
}

.logo {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

body {
    background: linear-gradient(260deg, #b75d62, #754d4f);

}

.showcase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90vh;
    padding: 0.5rem 5%;

}

nav img {
    transform: scale(.7);
}

.image-container {
    width: 80%;
}

.image-container img {
    /* transform: scale(1); */
    width: 80%;
}

.circle {
    position: absolute;
    z-index: -1;
}

.circle-1 {
    bottom: -2%;
    left: -3%;
    scale: 2;
}

.circle-2 {
    bottom: 20%;
    left: 35%;
    scale: 1;
}

.circle-3 {
    top: 18%;
    left: 20%;
    scale: 1.3;
}

.showcase-text {
    display: flex;
    flex-direction: column;
    color: white;
}
.showcase-text h1{
    font-size: 2rem;
    font-weight: 500;
    padding: 1rem 0rem;
}
.showcase-text h3{
    padding: 2rem 2rem 1rem 0rem;
    font-size: 1.3rem;
    font-weight: 500;

}
.showcase-btn{
    margin-top: 1rem;
    padding: .7rem 2rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.next-arrow{
    position: absolute;
    right: 15%;
    bottom: 10%;
    cursor: pointer;
}